/* General body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  margin: 0;
}

header,
main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  margin-bottom: 20px;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #cbe5f2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #ffcfbf;
}

.flash.success {
  color: #33cc99;
  background: #cbf2e5;
}

/* Main container */
div {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

/* User and tracks styling */
p {
  margin: 10px 0;
}

a {
  color: #1db954;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 50%;
  margin-right: 10px;
}

/* Top tracks and playlists */
ul {
  list-style: none;
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

li img {
  flex-shrink: 0; /* Prevent image resizing */
}

button {
  background-color: #2e70a5; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.delete {
  background-color: #cc0000;
}

.delete:hover {
  background-color: #a00000;
}

.form-inline {
  display: inline;
}

.inline {
  display: inline;
}

/* Adjust button styles for forms placed inline */
.inline button {
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px;
}


/* Style form elements for consistency */
form {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Makes sure padding doesn't increase the width */
}

input[type="text"] {
  height: 40px; /* Fixed height for text inputs */
}

textarea {
  resize: vertical; /* Allows vertical resizing, none for horizontal */
}

/* Enhance the visual hierarchy and focus */
input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #1a0dab;
  outline: none;
}

/* Style the 'Load Version' button to match 'Save Changes' */
form[action$="edit"] button.version {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form[action$="edit"] button.version:hover {
  background-color: #45a049;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  div {
    padding: 10px;
  }
}
